@keyframes  text_transition{
  from{ font-size: 0px;}
  to{ font-size:30px;}
}
.animate_text_in_short_intro{
  animation-name: text_transition;
  animation-duration: 0.9s;
}
#Edit_date{
  position: absolute;
  z-index: 4;
  width: 25%;
  height: 80px;
  justify-content: center;
  text-align: center;
  background-color: #3F5376;
  top:5%;
  right:0%;
}
#Edit_date h4{
  margin-top: 15px;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 8px black;
  margin: 0px;
  padding: 0px;
}
#Full_screen_mode{
  position: absolute;
  z-index: 3;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  justify-content: center;
  text-align: center;
  background-color: #0046C3;
  top:70%;
  left: 0%;
  transition: 1s;
}
#Full_screen_mode_text{
  margin-top: 26px;
  color: #062762;
  font-size: 15px;
}
#Full_screen_mode:hover{
  cursor: pointer;
  background-color: green;
}
#background_pic{
  transition: 1s;
  background-image: url("../Pic/Cube.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Content_section{
  position: absolute;
  width: 80%;
  height:490px;
  top:3%;
  left:10%;
  z-index: 2;
  background-color: rgba(96,136,255, .4);
  transition: 1s;
}
#Title{
  margin-left: 5%;
  margin-top: 10px;
}
#Short_intro{
  width: 60%;
  margin-left: 20%;
  margin-top: 70px;
  background-color: rgba(96,136,255, .1);
}
#Enter_button{
  top: 88%;
  width:20%;
  height: 70px;
  left: 40%;
  position: absolute;
  background-color: #0BA900; /*green*/
  z-index: 2;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  transition: 1s;
}
#Enter_button_link{
  text-decoration: none;
}
#Enter_button_text{
  color: White;
  font-size: 32px;
  margin-top: 15px;
}
#Enter_button:hover{
  background: #FFDC00;
  cursor: pointer;
  text-shadow: 2px 2px 8px black;
}
#previous_button,#next_button{
  top: 90%;
  width: 15%;
  height: 60px;
  position: absolute;
  background-color: #1047B1;
  z-index: 2;
  border-radius: 20px;
  transition: 1s;
  justify-content: center;
  text-align: center;
}
#previous_button h4,#next_button h4{
  margin-top: 15px;
  font-size: 30px;
  color: #83A2FF;
}
#previous_button:hover,#next_button:hover{
  background: #FFDC00;
  cursor: pointer;
}
#previous_button{
  left: -30%; // left: 5%;
}
#next_button{
  right: 5%;
}
@media (max-width: 700px){
  #Edit_date h4{
    font-size: 15px;
    margin-top: 20px;
  }
  #previous_button h4,#next_button h4, #Enter_button_text{
    font-size: 17px;
  }

}
