#Video{
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -3;
  object-fit: fill;

}
.shading{
  opacity: 0.5;
  background-color: grey;
  position: fixed;
  background-attachment: fixed;
  width: 100%;
  height: 900px;
  z-index: -2;
}
.shading::after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 100px 100px #000;
  -moz-box-shadow: inset 0 0 100px 100px #000;
  box-shadow: inset 0 0 100px 100px #000;
  overflow: hidden;
}
#title{
  position: fixed;
  z-index: -1;
  top: 100px;
  left: 50px;
}
#title h1{
  font-size: 150px;
  color: white;
  padding-bottom: 0px;
}
#title p{
  font-size: 20px;
  color: white;
}

#content{
  position: relative;
  width: 100%;
  height:850px;
  top:1000px;
  background-color: white;
  z-index: 0;
}
#wrapper{
  margin-left: 5%;
  margin-right: 5%;
}
#wrapper h1{
  padding-top: 100px;
}
#wrapper p{
  font-size: 22px;
}
code{
  font-size: 18px;
}
#link_text{
  text-align: center;
}
#wrapper_github{
  text-align: center;
}
#footer{
  position: relative;
  top: calc(1000px);
  z-index: 0;
}
#github_icon{
  text-align: center;
}
@media  only screen and (max-width: 800px){
  #wrapper p{
    font-size: 15px;
  }
}
